.form {
  width: 630px;
  height: 400px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 2em 4em 4em 4em;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 3px 0px 16px -2px rgba(0, 0, 0, 0.75);
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 1.3em 0em;
}
.container h2 {
  box-sizing: border-box;
  padding-bottom: 0.5em;
}
.submit-btn {
  padding: 1em 3em;
}
.slide {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  padding: 1.5em 2.5em;
  gap: 1em;
  width: 400px;
  height: 370px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.15);
  box-shadow: 3px 0px 16px -2px rgba(0, 0, 0, 0.75);
}
.slide-heading {
    margin-bottom: .5em;
}
.slide input {
  padding: .8em;
  border: none;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  color: white;
}
.slide input:hover, .slide input:focus {
  outline: none;
}

.btn {
  padding: 0.6em 0.2em;
  margin-top: 2em;
  font-size: 17px;
  color: #fff;
  background-color: #9a6aff;
  border: none;
  border-radius: 10px;
  transition: .8s ease;
}

#submit-btn {
  padding: 1em;
}

.btn:disabled {
  background-color: #996aff4e;
}
.invalid {
  background-color: rgba(196, 8, 8, 0.411);
  border: none;
}

